
.stats {
  width: 500px;
  margin: 50px auto;
  padding: 12px;

  text-align: center;
}

.stats-table,
.ip-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.stats-table th,
.stats-table td,
.ip-table th,
.ip-table td {
  border: 1px solid #ddd;
  padding: 10px;
}

.stats-table th,
.ip-table th {
  background-color: #f2f2f2;
  text-align: left;
}

.ip-table tr:nth-child(even) {
  background-color: #fafafa;
}

.ip-table tr:hover {
  background-color: #f0f0f0;
}

.url-input{
  width: 300px;
  padding: 10px;
  margin: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.submit-button {
  background: #c0c0c0;

  border-top: 2px solid white;
  border-left: 2px solid white;
  border-right: 2px solid #404040;
  border-bottom: 2px solid #404040;

  padding: 5px 16px;

  font-family: inherit;
  cursor: pointer;
}