
.browser-app {
  width: 100%;
  max-width: 500px;
  box-sizing: border-box;
  padding: 0 16px;
  margin: 50px auto;
  text-align: center;
}

.url-input{
  width: 300px;
  padding: 10px;
  margin: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.submit-button {
  background: #c0c0c0;

  border-top: 2px solid white;
  border-left: 2px solid white;
  border-right: 2px solid #404040;
  border-bottom: 2px solid #404040;

  padding: 5px 16px;

  font-family: inherit;
  cursor: pointer;
}

