.header {
  text-align: center;
  margin-top: 10%;
}

#root {
  min-height: 100vh;
}

.page {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nav {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.nav-button {
  display: block;
  width: 120px;
  padding: 10px 0;
  text-decoration: none;
  color: black;
  background-color: #ddfffc;
  border-radius: 6px;
  font-size: 16px;
  text-align: center;
  transition: background-color 0.3s ease;
  flex: 1;
}

.nav-button:hover {
  background-color: #ddd;
}

