body {
  margin: 0;
  background-image: url("assets/back.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;

  font-family: Tahoma, "MS Sans Serif", sans-serif;
}

.page {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-top: 40px;
}

.window {
  width: 600px;
  background: #c0c0c0;

  border-top: 2px solid white;
  border-left: 2px solid white;
  border-right: 2px solid #404040;
  border-bottom: 2px solid #404040;

  box-shadow: 2px 2px black;
}

.window-content {
  padding: 16px;
}